<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebAppManager"
        tools:targetApi="31">


        <activity android:autoRemoveFromRecents="true"  android:process=":WebAppZ1" android:label="Z1" android:name=".instances.ZI001" android:exported="true"  android:launchMode="standard" android:documentLaunchMode="intoExisting"/>
        <activity android:autoRemoveFromRecents="true"  android:process=":WebAppZ2" android:label="Z2"  android:name=".instances.ZI002" android:exported="true" android:launchMode="standard" android:documentLaunchMode="intoExisting"/>
        <activity android:autoRemoveFromRecents="true"  android:process=":WebAppZ3" android:label="Z3"  android:name=".instances.ZI003" android:exported="true" android:launchMode="standard" android:documentLaunchMode="intoExisting"/>
        <activity android:autoRemoveFromRecents="true"  android:process=":WebAppZ4" android:label="Z4"  android:name=".instances.ZI004" android:exported="true" android:launchMode="standard" android:documentLaunchMode="intoExisting"/>
        <activity android:autoRemoveFromRecents="true"  android:process=":WebAppZ5" android:label="Z5"  android:name=".instances.ZI005" android:exported="true" android:launchMode="standard" android:documentLaunchMode="intoExisting"/>
        <activity android:autoRemoveFromRecents="true"  android:process=":WebAppZ6" android:label="Z6"  android:name=".instances.ZI006" android:exported="true" android:launchMode="standard" android:documentLaunchMode="intoExisting"/>
        <activity android:autoRemoveFromRecents="true"  android:process=":WebAppZ7" android:label="Z7"  android:name=".instances.ZI007" android:exported="true" android:launchMode="standard" android:documentLaunchMode="intoExisting"/>


        <activity android:name="br.com.nullexcept.webappmanager.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>